{% extends 'tracker/base.html' %}

{% block content %}
<h1>Список задач</h1>
{% if is_paginated %}
   {% include 'templates/partial/pagination.html' %}
{% endif %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Описание</th>
            <th>Статус</th>
            <th>Тип</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for issue in issues %}
        <tr>
            <td>{{ issue.id }}</td>
            <td><a href="{% url 'issue_detail' issue.id %}" class="btn btn-outline-warning">{{ issue.summary }}</a></td>
            <td >{{ issue.status }}</td>
            <td>{{ issue.types.all|join:", "}}</td>
            <td>
                <a href="{% url 'issue_edit' issue.id %}" class="btn btn-primary">Изменить</a>
                <a href="{% url 'issue_delete' issue.id %}" class="btn btn-danger">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if is_paginated %}
   {% include 'templates/partial/pagination.html' %}
{% endif %}
<div class="pagination">
    <span class="step-links">
        <a href="?page=1">&laquo; В начало</a>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Назад</a>
        {% else %}
            <span class="page-disabled">Назад</span>
        {% endif %}

        <form class="current-page" method="get" style="display:inline;">
            <label for="page">
                Страница <input type="text" name="page" id="page" value="{{ page_obj.number }}">
                из {{ page_obj.paginator.num_pages }}.
            </label>
        </form>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Далее</a>
        {% else %}
            <span class="page-disabled">Далее</span>
        {% endif %}
        <a href="?page={{ page_obj.paginator.num_pages }}">В конец &raquo;</a>
    </span>
</div>


{% endblock %}
